/* CSS Things for detail */

body {
	  background: black;
	  background-size: cover;
	  color: #fff;
      font-family: Arial, Helvetica, sans-serif;
	  font-size: 16px;
    }
	
	
	/* Main Content */
	.content {
		vertical-align: top;
		padding: 5px;
	}
	
	/* Catch-All Center Class */
	.center {
		margin-left: auto;
		margin-right: auto;
	}
	
	/* Navbar Styling */
    .navbar {
		list-style: none;
		margin: 0;
		padding: 0;
		background: #4F4F4F;
		display:flex;
    }

   .navbar li a {
		display: block;
		color: #fff;
		text-decoration: none;
		padding: 15px 20px;
    }

    .navbar li a:hover {
		background-color: #0000A0;
    }
	
	/* Sidebar */
	.sidebar {
		vertical-align: top;
		color: white;
		background-color: #000080;
		padding: 5px;
		padding-bottom: 600px;
		text-decoration: none;
		width: 200px;
		margin: 0;
	}
	
	.sidebar a {
		color: white;
		text-decoration: none;
	}
	
	.sidebar ul {
		font-size: 12px;
	}
	
	/* Footer */
	.footer {
		font-size: 12px;
	}

/* Mobile ver. stuff */
@media screen and (max-width:800px) {
	/* Hide the sidebar on mobile / width of screen is too small */
	.sidebar {
		display: none;
	}
	
	.welcome-img {
		width: 100%;
	}
}